<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <directoryBrowse enabled="false" />

    <handlers>
      <remove name="FastCGIphp" />
      <add name="FastCGIphp"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\xampp\php\php-cgi.exe"
           resourceType="Either"
           requireAccess="Script" />
    </handlers>

  </system.webServer>
</configuration>
