<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure index.php is treated as the default document -->
    <defaultDocument enabled="true">
      <files>
        <add value="index.php" />
        <add value="default.php" />
      </files>
    </defaultDocument>

    <!-- Disable directory browsing for security (explicit) -->
    <directoryBrowse enabled="false" />

    <!-- FastCGI application mapping and handler for PHP (adjust fullPath if your PHP is elsewhere) -->
    <fastCgi>
      <application fullPath="C:\php\php-cgi.exe">
        <environmentVariables>
          <environmentVariable name="PHPRC" value="C:\php" />
        </environmentVariables>
      </application>
    </fastCgi>

    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
