@use "variables" as v;
@use "mixins"    as m;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  line-height: 1.7;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: v.$bg_body;
  color: v.$negro;
}

p {
  color: v.$gris_800;
  font-size: 1.6rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  font-family: v.$fuente_principal;
  margin: calc(v.$separacion / 3) 0;
  font-weight: 300;
  text-align: center;
  color: v.$negro;
}

h1 { @include m.fluid-type(2.4rem, 3.2rem); }
h2 { @include m.fluid-type(2.1rem, 2.8rem); }
h3 { @include m.fluid-type(1.9rem, 2.4rem); }
h4 { @include m.fluid-type(1.7rem, 2.1rem); }
